<div class="w3-card">
    <div class="w3-white ">
        <img style="width:100%; max-height: 150px" src=" ~/Content/img/about-bg.jpg" />
        <h3 class="w3-padding">About Me!</h3>
        <p class="w3-padding">Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
</div> 